[submodule "User"]
	path = User
	url = git@github-objectpack:objectpack/User.git
[submodule "Upload"]
	path = Upload
	url = git@github-objectpack:objectpack/Upload.git
[submodule "Base"]
	path = Base
	url = git@github-objectpack:objectpack/Base.git
